*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eeeeee;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    padding-top: 30px;
}

header .left .logo{
    color: blue;
}
header .right .user{
    font-weight: bold;
}
nav {
    background-color: #3A98B9 !important;
    text-align: right;
    height: 50px;
}

nav ul {
    vertical-align: middle;
}

nav li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

nav ul li:hover {
    background-color: #0078AA;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}
main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  main article {
    margin: 20px 10px;
    padding: 20px;
    flex-basis: 72%;
    background-color: #ffffff;
    border-radius: 10px;
  }

  main article p {
    margin: 10px 0px;
  }

  main aside {
    flex-basis: 23%;
    flex-grow: 1;
  }

  main aside .tag,
  main aside .news {
    margin: 20px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 20%;
  }

  main aside .tag ul,
  main aside .news ol {
    margin: 5px 30px;
  }
  main aside h3 {
    margin-top: 20px;
  }
  .comments {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;  
    padding: 50px;
  }

  .comments form fieldset {
    padding: 20px;
    border-radius: 10px;
  }

  .form-control {
    width: 350px;
    height: 35px;
    margin-bottom: 10px;
  }

  .form-control:focus{
    background-color: #eeeeee;
    outline-color: #0078AA;
  }

  .form-desc {
    width: 350px;
  }

  .form-desc:focus {
    background-color: #eeeeee;
    outline-color: #0078AA;
  }

  .btn{
    height: 40px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #3A98B9;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .btn-primary:hover{
    background-color: #0078AA;
  }

  .float-end{
    float: right;
  }
  @media screen and (max-width: 768px) {
    main article {
      flex-basis: 100%;
    }

    img {
      max-width: 90%;
      height: auto;
    }

    main article {
      flex-basis: 100%;
    }

    main aside {
      flex-basis: 100%;
    }

    main aside .tag,
    main aside .news {
      flex-basis: 45%;
    }

    .form-control {
      width: 100%;
    }

    .form-desc {
      width: 100%;
    }

    video {
      display: block;
      width: 40%;
    }

    audio {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 425px) {
    main article {
      flex-basis: 100%;
    }

    img {
      max-width: 90%;
      height: auto;
    }

    header .left .logo {
      font-size: 20px;
    }

    header .right .user {
      font-size: 14px;
    }

    nav {
      height: auto;
      text-align: center;
    }

    nav ul {
      display: block;
      margin: 0;
      padding: 0;
    }

    nav li {
      display: block;
      margin: 5px 0;
    }

    nav ul li:hover {
      background-color: initial;
    }

    nav ul li a {
      height: auto;
      line-height: 30px;
      padding: 0;
    }

    main article {
      margin: 10px 0;
      flex-basis: 100%;
    }

    img {
      max-width: 90%;
      height: auto;
    }

    main aside .tag,
    main aside .news {
      margin: 10px 0;
      flex-basis: 100%;
    }

    .form-control {
      width: 100%;
    }

    .form-desc {
      width: 100%;
    }

    .btn {
      width: 100%;
    }
    video {
      display: block;
      width: 80%;
    }

    audio {
      width: 100%;
    }
  }
  @media screen and (max-width: 375px) {
    header .left .logo {
      font-size: 18px;
    }

    header .right .user {
      font-size: 12px;
    }

    main aside .tag,
    main aside .news,
    main article {
      margin: 10px;
    }

    h1 {
      font-size: 18px;
    }

    img {
      max-width: 90%;
      height: auto;
    }

    p {
      font-size: 12px;
    }

    .btn {
      height: 35px;
    }

    video {
      width: 80%;
    }

    audio {
      width: 100%;
    }
  }
  
