*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eeeeee;
}

header{
    background-color: white;
}

header .left .logo{
    color: blue;
}
header .right .user{
    font-weight: bold;
}
nav{
    background-color: blue;
    text-align: right;
}

nav a{
    color: white;
    text-align: none;
}